.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 80px;
    width: 100%;
    position: fixed;
}

.header a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.2rem;
}

.header-right a + a::before{
    content: ",";
    margin: 0 4px;
}