@import url("../global.css");

.contact-section{
    height: 102vh;
    padding: var(--padding-vertical-40px) var(--padding-horizontal-80px);
}

.contact-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.contact-header p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
}

.contact-body{
    height: 82vh;
    display: flex;
    align-items: center;
}

.contact-body h1{
    font-size: var(--font-size-6rem);
    font-weight: var(--font-weight-bold);
}

.contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-footer p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
    margin: 0;
}

.contact-footer-links a{
    text-decoration: none;
    color: var(--text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
    transition: var(--transition-hyperlinks);
}

.contact-footer-links a:hover{
    color: var(--primary-500);
    transition: var(--transition-hyperlinks);
}

.contact-footer-links span{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-bold);
}



