@import url("../global.css");

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-vertical-20px) var(--padding-horizontal-80px);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header a{
    text-decoration: none;
    color: var(--text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
    transition: var(--transition-hyperlinks);
}

.header-left, .header nav{
    background-color: var(--neutral-100);
    padding: 2px 5px;
    border-radius: 12px;
}

.header a:hover{
    color: var(--primary-500);
    transition: var(--transition-hyperlinks);
}

.header a:hover a::before{
    text-decoration: none;
}

.header-right span{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-bold);
}
