@import url("../global.css");

.work-section{
    height: 150vh;
    padding: var(--padding-vertical-40px) var(--padding-horizontal-80px);
}

.work-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.work-header p{
    font-weight: bold;
    font-size: 1.2rem;
}

.work-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 5vh;
}

.work-preview h2{
    text-decoration: underline;
    text-decoration-color: var(--neutral-100);
    text-decoration-thickness: 1vh;
    transition: ease 0.6s;
}

.work-preview:hover h2{
    text-decoration: underline;
    text-decoration-color: var(--primary-500);
    text-decoration-thickness: 1vh;
    transition: ease 0.6s;
}

.work-preview img{
    width: 40%;
    height: 60vh;
    object-fit: cover;
}

.work-preview-description{
    display: flex;
    flex-direction: column;
    position: sticky;
    max-width: 45%;
    top: 6vh;
}

.work-preview-description h2{
    font-size: var(--font-size-6rem);
    margin-bottom: 2vh;
}

.work-preview-description P{
    font-size: var(--font-size-1-2rem);
    max-width: 75%;
    margin-bottom: 2vh;
}
