@import url("../styles/global.css");

/* title section styles */
.title-section {
    display: flex;
    flex-direction: column;
    padding: var(--padding-vertical-20px) var(--padding-horizontal-80px);
    height: 100vh;
    gap: 5vh;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 68%;
}

.title-header p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
}

.title-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 26vh;
    margin-top: 33vh;
}

.title-body h1{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-bold);
}

.title-body h1:last-child{
    font-size: var(--font-size-6rem);
    font-weight: var(--font-weight-bold);
}

/* about-section styles*/
.about-section{
    height: 106vh;
    padding: var(--padding-vertical-40px) var(--padding-horizontal-80px);
}

/* Mobile responsive styles for projects section */
@media screen and (max-width: 600px) {
    .title-section {
        padding: 12px 20px;
        height: auto;
        gap: 6.5rem;
    }

    .title-header {
        display: none;
    }

    .title-body {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
    }

    .title-body h1:last-child{
        font-size: var(--font-size-4rem);
        text-align: left;
        line-height: 1.3;
    }

    #hidden-on-mobile {
        visibility: hidden;
    }
}
