@import url("../styles/global.css");

/* title section styles */
.title-section {
    display: flex;
    flex-direction: column;
    padding: var(--padding-vertical-20px) var(--padding-horizontal-80px);
    height: 100vh;
    gap: 5vh;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 68%;
}

.title-header p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
}

.title-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 26vh;
    margin-top: 33vh;
}

.title-body h1{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-bold);
}

.title-body h1:last-child{
    font-size: var(--font-size-6rem);
    font-weight: var(--font-weight-bold);
}

/* about-section styles*/
.about-section{
    height: auto;
    padding: var(--padding-vertical-40px) var(--padding-horizontal-80px);
}

.about-body-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.about-body-content h2{
    font-size: var(--font-size-2-5rem);
    font-weight: var(--font-weight-bold);
    width: 50%;
    transition: var(--transition-ease-06);
}

.about-body-content:hover{
    color: var(--primary-500);
    transition: var(--transition-ease-06);
}

.about-body-content p{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-normal);
    margin-bottom: 6rem;
    width: 50%;
}

.align-left{
    align-items: flex-start;
    margin-left: 4vw;
}

.align-right{
    align-items: flex-end;
    padding-right: 4vw;
}

/* personal section styles */
.personal-section{
    height: auto;
    padding: var(--padding-vertical-40px) var(--padding-horizontal-80px);
}

.personal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.personal-header p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1-2rem);
}

.personal-body-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;
    padding-top: 8vh;
    margin-left: 1vw;
    gap: 5vw;
}

.personal-body-content h2{
    font-size: var(--font-size-2-5rem);
    font-weight: var(--font-weight-bold);
    //width: 60%;
    transition: var(--transition-ease-06);
}

.personal-body-content:hover h2{
    color: var(--primary-500);
    transition: var(--transition-ease-06);
}

.personal-body-content p{
    font-size: var(--font-size-1-2rem);
    font-weight: var(--font-weight-normal);
    margin-bottom: 6rem;
}

.personal-body-content-description{
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 42%;
    top: 8vh;
}

.personal-body-container-images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal-body-content-image{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}


.sticky-image{
    height: 37vh;
    position: sticky;
    top: 8vh;
}

.personal-body-content-image img{
    width: 24vw;
    object-fit: cover;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

/* Mobile responsive styles for projects section */
@media screen and (max-width: 600px) {
    #hidden-on-mobile {
        visibility: hidden;
    }

    /* title section styles */
    .title-section {
        padding: var(--padding-vertical-40px) var(--padding-horizontal-20px);
        height: auto;
    }

    .title-header {
        display: none;
    }

    .title-body {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        margin-bottom: 20vh;
    }

    .title-body h1:last-child{
        font-size: var(--font-size-4rem);
        text-align: left;
        line-height: 1.3;
    }

    /* about-section styles*/
    .about-section{
        height: auto;
        padding: var(--padding-vertical-40px) var(--padding-horizontal-20px);
    }

    .about-body-content h2{
        font-size: var(--font-size-2-5rem);
        font-weight: var(--font-weight-bold);
        width: 100%;
    }

    .about-body-content p{
        font-size: var(--font-size-1-2rem);
        font-weight: var(--font-weight-normal);
        margin-bottom: 6rem;
        width: 100%;
    }

    .align-left{
        align-items: center;
        margin-left: 0;
    }

    .align-right{
        align-items: center;
        padding-right: 0;
    }

    /* personal section styles */
    .personal-section{
        height: auto;
        padding: var(--padding-vertical-40px) var(--padding-horizontal-20px);
    }

    .personal-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }

    .personal-body-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .personal-body-content-description{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .personal-body-container-images{
        margin-bottom: 2rem;
    }

    .personal-body-content-image img {
        width: 48%;
        height: 31vh;
    }
}
