* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: var(--font-family-rubik), sans-serif;
}

:root {
    /* Primary Colors */
    --primary-500: #738F5F;
    --primary-700: #15432E;

    /* Neutral Colors */
    --neutral-0: #fdfdfd;
    --neutral-100: #f5f5f5;
    --neutral-200: #d7d7d7;

    /* Text Colors*/
    --text-primary: #0b1215;

    /* Text Families */
    --font-family-rubik: 'Rubik', sans-serif;

    /* Text Sizes */
    --font-size-1-2rem: 1.2rem;
    --font-size-2-5rem: 2.5rem;
    --font-size-4rem: 4rem;
    --font-size-6rem: 6rem;

    /* Text Weights */
    --font-weight-normal: 400;
    --font-weight-bold: bold;

    /* Spacing */
    --padding-horizontal-80px: 80px;
    --padding-vertical-20px: 20px;
    --padding-vertical-40px: 40px;
    --padding-vertical-80px: 80px;

    /* Transitions */
    --transition-hyperlinks: ease 0.6s;
}

img{
    border-radius: 25px;
}

.tool-icon {
    border-radius: 0 !important;
}

body{
    background: var(--neutral-100);
}

body::-webkit-scrollbar{
    width: 0.80rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--neutral-100);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--primary-500);
    border-radius: 15px;
}

.text-align-end{
    text-align: end;
}

/* hover underline effect for hyperlinks */
/*.expand{
    position:relative;
    text-decoration:none;
    display:inline-block;
    z-index: 1000;
}
.expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--primary-500);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.expand:hover:after {
    transform: scaleX(1);
    transform-origin:0 50%;
}*/