* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-primary);
}

:root {
    /* Primary Colors */
    --primary-500: #738F5F;
    --primary-700: #15432E;

    /* Neutral Colors */
    --neutral-0: #fdfdfd;
    --neutral-100: #f5f5f5;
    --neutral-200: #d7d7d7;

    /* Text */
    --text-primary: #0b1215;

    /* Spacing */
    --padding-horizontal-80px: 80px;
    --padding-vertical-20px: 20px;
    --padding-vertical-40px: 40px;
}

body{
    background: var(--neutral-100);
}